name: Docker Build and Push

on:
  push:
    branches:
      - main
    paths-ignore: 
      - README.md
      - .gitignore
      - .github/**
  workflow_dispatch:
    
jobs:
  container:
    runs-on: ubuntu-latest
    steps:    
    - uses: actions/checkout@v3
    - name: Docker Build
      shell: bash
      run: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
        docker buildx build . \
          --platform=linux/arm64,linux/amd64 \
          -t ghcr.io/${GITHUB_REPOSITORY,,}:$(date +%Y%m%d.$GITHUB_RUN_NUMBER)
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Docker Publish
      shell: bash
      run: |
        docker push ghcr.io/${GITHUB_REPOSITORY,,}:$(date +%Y%m%d.$GITHUB_RUN_NUMBER)
